{{#> admin}}
  {{#*inline "content"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/admin/books/books.css">
    <div class="admin-books">
      <div class="book-table">
        <div class="book-table-head">
          <h2>Books List</h2>
          <a href="/admin/books">Add Book</a>
        </div>
        <div class="book-table-table">
          <table class="">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Code</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {{#each viewData.books}}
                <tr>
                  <td>{{getId}}</td>
                  <td>{{getTitle}}</td>
                  <td>{{getAuthor}}</td>
                  <td>{{getCode}}</td>
                  <td><a class="" href="/admin/books/{{getId}}">
                      <i class="fa-regular fa-pen-to-square edit"></i>
                    </a>
                  </td>
                  <td>
                    <form action="/admin/books/{{getId}}" method="POST">
                      <button class="">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </form>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-body">
        <form action="/admin/books" method="post" enctype="multipart/form-data">
          <div class="names">
            <div class="firstname">
              <input type="text" name="title" id="title" placeholder="Title">
            </div>
            <div class="lastname">
              <input type="text" name="author" id="author" placeholder="Author">
            </div>
          </div>
          <div>
            <input type="text" name="about" id="about" placeholder="Description">
          </div>
          <div class="names">
            <div class="firstname">
              <input type="text" name="year" id="year" placeholder="Year Published">
            </div>
            <div class="lastname">
              <input type="text" name="email" id="userId" placeholder="User Email">
            </div>
          </div>
          <div>
            <input type="text" name="genre" id="genre" placeholder="Genre">
          </div>
          <div class="book-cover labels">
            <label for="image">Upload Book Cover</label>
            <input type="file" name="bookcover" id="image" placeholder="bookcover">
          </div>
          <div class="labels">
            <label for="image">Upload Book Pdf</label>
            <input type="file" name="bookpdf" id="image" placeholder="bookpdf">
          </div>
          <div>
            <input type="text" name="code" id="code" placeholder="Code">
          </div>
          <div>
            <input type="submit" value="Create Book">
          </div>
        </form>
      </div>
    </div>
  {{/inline}}
{{/admin}}