{{#> admin}}
  {{#*inline "content"}}
    <link rel="stylesheet" href="/css/admin/books/editt.css">
    <div class="dialog-container">
      <dialog open class="modal" id="modal">
        <div class="form-body">
          {{#with viewData.user}}
            <form action="/admin/users/{{getId}}/update" method="post" enctype="multipart/form-data">
              <div class="form-header">
                Edit User
              </div>
              <div class="names">
                <div class="firstname">
                  <label for="firstname">First Name</label><br>
                  <input type="text" name="firstname" id="firstname" value="{{getFirstName}}" placeholder="firstname">
                </div>
                <div class="lastname">
                  <label for="author">Last Name</label><br>
                  <input type="text" name="lastname" id="lastname" value="{{getLastName}}" placeholder="lastname">
                </div>
              </div>
              <div>
                <label for="email">Email Address</label><br>
                <input type="email" name="email" id="email" value="{{getEmailAddress}}" placeholder="Email Address">
              </div>
              <div>
                <label for="mobile">Mobile Number</label><br>
                <input type="text" name="mobile" id="mobile" value="{{getMobileNumber}}" placeholder="Mobile Number">
              </div>
              <div>
                <label for="profession">Profession</label><br>
                <input type="text" name="profession" id="profession" value="{{getProfession}}" placeholder="Profession">
              </div>
              <div>
                <label for="profile-image">Profile Picture</label><br>
                <input type="file" name="profile-image" id="profile-image" value="{{getProfileImage}}" placeholder="Profile Picture">
              </div>
              <div>
                <label for="code">Role</label><br>
                <input type="text" name="role" id="role" value="{{getRole}}" placeholder="Role">
              </div>
              <div>
                <label for="availability">Password</label><br>
                <input type="text" name="password" id="password" value="" placeholder="password">
              </div>
              <div>
                <input type="submit" value="Update User">
              </div>
            </form>
          {{/with}}
        </div>
      </dialog>
    </div>
  {{/inline}}
{{/admin}}