{{#> admin}}
  {{#*inline "content"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/admin/users/users.css">
    <div class="admin-users">
      <div class="user-table">
        <div class="user-table-head">
          <h2>Users List</h2>
          <a href="/admin/users">Add User</a>
        </div>
        <div class="user-table-table">
          <table class="">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <div class="tbody">
              <tbody>
                {{#each viewData.users}}
                  <tr>
                    <td>{{getId}}</td>
                    <td>{{getFirstName}}</td>
                    <td>{{getLastName}}</td>
                    <td>{{getRole}}</td>
                    <td><a class="btn btn-primary" href="/admin/users/{{getId}}">
                      <i class="fa-regular fa-pen-to-square edit"></i>
                      </a>
                    </td>
                    <td>
                      <form action="/admin/users/{{getId}}" method="POST">
                        <button class="btn btn-danger">
                          <i class="fa-solid fa-user-xmark"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </div>
          </table>
        </div>
      </div>
      <div class="form-body">
        <form action="/admin/users" method="post">
          <div class="names">
            <div class="firstname">
              <input type="text" name="firstname" id="firstname" placeholder="First Name">
            </div>
            <div class="lastname">
              <input type="text" name="lastname" id="lastname" placeholder="Last Name">
            </div>
          </div>
          <div>
            <input type="email" name="email" id="email" placeholder="Email Address">
          </div>
          <div>
            <input type="mobile" name="mobile" id="mobile" placeholder="Mobile Number">
          </div>
          <div>
            <input type="text" name="profession" id="profession" placeholder="Profession">
          </div>
          <div>
            <input type="password" name="password" id="password" placeholder="Password">
          </div>
          <div class="submit">
            <input type="text" name="role" id="role" placeholder="Role">
          </div>
          <div>
            <input type="submit" value="Create User">
          </div>
        </form>
      </div>
    </div>
  {{/inline}}
{{/admin}}